extends layout

block content
  h2. 
    PingMe: let's you know when a website comes back online.
  h3 that independant blog from hacker news has gone down, again.
  p.
    It's not an uncommon story for independant blogs to become the leading article on hacker news.
    Small blogs gain such huge viewership and popularity, directed from places such as hacker news
    it's unsurprising that some cannot cope. As readers we are faced with the unfortunate situation
    of a 503 or connection refused error message because the small blog has effectively been DoS'ed.

    PingMe sends you a notification of when the blog has come back online. So you may finally
    return to the website and read the article.
      

  p
    | Find PingMe on the Chrome Extension Store here: 
    a(href="https://chrome.google.com/webstore/detail/ping-me/behcdcknidfkilomklmbknhmeagddmjl") PingMe
  
  img(src="images/PingMeReminder.png" alt="Reminder that a website is back up" width="100%")
  hr
  img(src="images/PingMeReminding.png" alt="Reminder that a website is back up" width="100%")

  p
    | Find PingMe on 
    a(href="https://github.com/YianniG/PingMe") GitHub
